<div class="sidebar">
    <h3 class="sidebar__header"><a href="http://www.restorationhardware.com/company-info/index.jsp" class="sidebar__header__link">CAREERS</a></h3>
    <ul class="sidebar__links">
        <li><a href="http://www.restorationhardware.com/company-info/about-us.jsp" class="">VIEW OPEN POSITIONS</a></li>
        <li><a href="https://rh-stuff.github.io/Careers/Teams.html" class="">OUR TEAMS</a></li>
        <li><a href="https://rh-stuff.github.io/Careers/Benefits.html" class="">OUR BENEFITS</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/about-us.jsp" class="">Company Overview</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/management-team.jsp" class="">Leadership Team</a></li>
    </ul>
</div>
