<div class="sidebar">
    <h3 class="sidebar__header"><a href="http://www.restorationhardware.com/company-info/index.jsp" class="sidebar__header__link">CAREERS</a></h3>
    <ul class="sidebar__links">
        <li><a href="http://www.restorationhardware.com/company-info/about-us.jsp" class="">VIEW OPEN POSITIONS</a></li>
        
        {% if page.url == "/Careers/Teams.html" %}
            <li><a href="/Careers/Teams.html" class="activated">OUR TEAMS</a></li>
        {% else %}
            <li><a href="/Careers/Teams.html">OUR TEAMS</a></li>
        {% endif %}
        
        {% if page.url == "/Careers/Benefits.html" %}
            <li><a href="/Careers/Benefits.html" class="activated">OUR BENEFITS</a></li>
        {% else %}
            <li><a href="/Careers/Benefits.html">OUR BENEFITS</a></li>
        {% endif %}        
        
        <li><a href="http://www.restorationhardware.com/company-info/about-us.jsp" class="">Company Overview</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/management-team.jsp" class="">Leadership Team</a></li>
    </ul>
</div>
